/* comment */
body { 
  max-width: 70em;
}

figure {
    max-width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure figcaption {
    color: #606060;
    font-size: 85%;
    font-style: oblique;
}
